<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title id="titre"></title>
    <script type="module" src="../js/plateform.js"></script>
</head>

<body>
    <div class="container">
        <a href="../template/test.html"><button class="mt-2">plateform</button></a>
        <div class="row mt-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">ATC:</h5>
                        <p id="callsign"></p>
                        <p id="frequency"></p>
                        <p id="atis_revision"></p>
                        <p id="atis_name_airport"></p>
                        <p id="atis_metar"></p>
                        <p id="atis_rwy"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>